## INSTALLATION OPTIONS (run with these options to install/reinstall the k8sworker domU.  Once complete, uncomment the bootloader below)
kernel = "/etc/xen/vmlinuz"
ramdisk = "/etc/xen/initrd.gz"
extra="modules=loop,squashfs console=hvc0 auto=true preseed/url=tftp://$TFTP_IP/pxelinux.cfg/k8s-domU-preseed.cfg priority=critical"

## RUNTIME OPTIONS (once the installation is complete, comment out the above, uncomment the below, and create the domU)
#bootloader="pygrub"

## Adjust to suit your environment.  You might not have to set the MAC (if you're OK with a random MAC for the k8s controlplane domUs)
disk = [ 'phy:/dev/system/worker,xvda,w', 'phy:/dev/system/pvcs,xvdb,w', ]
vif = ['mac=00:16:3e:bb:bb:01,bridge=xenbr0']
memory = 16384
name = "k8s-worker-1"
vcpus = 4
maxvcpus = 4
